@import "../../_base.sass";

.navbar {
  background-color: $dashboard-background;
  min-height: 260px;
  background-image: ("/images/Dashboard/Dashboard-banner.svg");
  * {
    font-family: "Popins", sans-serif;
  }
  .navLink {
    color: $primary-color !important;
    font-size: 20px;
    transition: 0.3s ease;
    position: relative;
    &:hover {
      color: $hover-color !important;
    }
    &::after {
      position: absolute;
      content: "";
      width: 0%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $primary-color;
      transition: 0.3s ease;
    }
    &:hover::after {
      width: 100%;
    }
    &.active::after {
      width: 100%;
    }
    &.active:hover::after {
      width: 0%;
    }
  }

  .NavBarLink {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    transition: 0.3s ease;
  }
  .NavBarLink:hover {
    background-color: $primary-color;
    color: $btn-hover-color;
  }

  .userLogo {
    z-index: 3;
    position: absolute;
    border: 0;
    top: calc(100% - 130px);
    left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .logoWrapper {
      border: 1px solid #81f2c2;
      border-radius: 50%;
    }
    .textWrapper {
      display: flex;
      flex-direction: column;
      color: #000;
      align-items: flex-start;
      gap: 0;
      h2 {
        color: #10458c;
        font-weight: 300;
        font-size: 25px;
      }
      p {
        font-size: 15px;
        font-weight: 200;
        color: #838383;
      }
    }
  }
}

.dashboard_sidebar_Tabs {
  display: flex;
  flex-direction: column;

  .dashboard_sidebar_Tab {
    // &:first-of-type {
    //   padding-top: 0px;
    // }
    transition: 0.1s ease-in;
    &.active {
      background-color: $primary-color;
      color: #fff;
    }
    color: $primary-color;
    background-color: transparent;
    border-bottom: 1px solid #d6d6d6;
    padding: 15px;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 15px;
  }
}

.NavBarLink__logout {
  background-color: $red-background;
  color: #fff;
  padding: 8px 32px;
  text-transform: lowercase;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
  border-radius: 10px;
  position: relative;
  a {
    z-index: 3;
    color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    visibility: hidden;
    width: 0%;
    height: 100%;
    background-color: #fff;
    top: 0;
    transition: 0.3s ease;
    border-radius: 9px;
    border: 1px solid transparent;
    z-index: 0;
  }
  &:hover::after {
    visibility: visible;
    width: 100%;
  }
  &:hover a {
    color: $red-background;
  }
}

.NavBarLinkLogout {
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s ease;
  color: rgb(152, 46, 46) !important;
  border: 1px solid rgb(152, 46, 46) !important;
}
