@import "../_base.sass";
.smallDialogContent {
  width: 375px;
  height: 320px;
  background: #f5f2ec;
  border-radius: 10px;
  .dialogHeader {
    box-shadow: 0px 6px 8px #b4b4b436;
    height: 100px;
    display: flex;
    background-color: #f5f2ec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .headerText {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2;
      flex: 1;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      padding-right: 15px;
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: $primary-color;
      }
      p {
        color: #92929d;
        font-size: 18px;
      }
    }
  }

  .ListContainer {
    margin-right: 25px;
    margin-top: 15px;
    ul {
      list-style-type: disc;
      color: #838383;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-top: 20px;
  }
}

.largeDialogContent {
  width: 450px;
  height: 375px;
  background: #f5f2ec;
  border-radius: 10px;
  .dialogHeader {
    box-shadow: 0px 6px 8px #b4b4b436;
    height: 100px;
    display: flex;
    background-color: #f5f2ec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .headerText {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2;
      flex: 1;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      padding-right: 15px;
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: $primary-color;
      }
      p {
        color: #92929d;
        font-size: 18px;
      }
    }
  }

  .ListContainer {
    margin-right: 25px;
    margin-top: 15px;
    ul {
      list-style-type: disc;
      color: #838383;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-top: 20px;
  }
}
