.ReactFlagsSelect-module_flagsSelect__2pfa2.codeSelect{
    position: absolute !important;
    z-index: 22222 !important;
    top: 35% !important;
    margin: 0 !important;
    transform: translateY(18%) !important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2.codeSelect button{
    border: none !important;
    outline: none !important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2.NationalitiesSelect{
    width: 100%;
    background: #FFF;
    padding: 10px 0px; 
    border-radius: 10px;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2.NationalitiesSelect button{
    border: none !important;
    outline: none !important;

}

.styles_react-code-input__CRulA input{
    font-family: "Roboto";
}

.styles_react-code-input-container__tpiKG div input{
    font-family: "Roboto";
}

.custom-css-outlined-input::placeholder{
    color: #000;
}

.dropZoneWrapper{
    background-color: rgb(192, 242, 194, 5%);
    border: 2px dashed rgb(192, 242, 194, 50%);
    border-spacing: 31px;
    border-radius: 6px;
    padding: 20px 10px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 241px;
    height: fit-content;
    margin-bottom: 64px;
}

.verification-input{
    background-color: #FFF;
    outline: none;
    padding: 0px 20px;
    color: #000;
}

.verification-input:focus{
    border: 1px solid #10458C ;
}
.verification-input:disabled{
    background: #e8e8e8;
}