@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}





.section {
 padding: "20px"
}

.title {
  font-weight: 400;
  font-size: 2rem;
}


/* button {
  padding: 0 !important;
} */

.logo-ct{
  
  display: flex;
  justify-content: center;

}
button{
  position: relative;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded::before{
  content: "";
  background-color: transparent;
}
.css-b0ldl9-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
  min-height: 0;
}

.main-btn{
    background-color: #10458c !important;
    color: #FFF;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.main-btn:disabled{
  background-color: #10458c !important;
  color: #FFF;
  padding: 8px 32px;
  border-radius: 8px;
  opacity: 0.5;
  cursor: not-allowed !important;
}

.main-btn2:disabled{
  opacity: 0.5;
}

.appointment_accordion .MuiButtonBase-root{
  padding: 0 !important;
  min-height: 0px !important;
  height: 0px !important;
}



[dir="rtl"] *{
  font-family: Tajawal, Arial, sans-serif !important;
  direction: rtl !important;
}

[dir="ltr"] *{
  font-family: Roboto, Arial, sans-serif !important;
  direction: ltr !important;
}

.notification-body{
  text-wrap: balance;
  flex-grow: 2;
  font-family: "Poppins !important;";
}

.notification-body.arabic{
  text-align: center;
  font-family: Tajawal, Arial, sans-serif !important;
}

.text-area-parent div{
  width: 100%;
  /* border: 1px solid #10458c;
  padding: 10px */

}
.text-area-parent textarea{
  width: 100%;
  border: 1px solid #10458c;
  padding: 10px
}

.p-blockui {
  backdrop-filter: blur(4px) !important;
}

.answers span{
  font-family: Tajawal !important;
}

.answers textarea{
  font-family: Tajawal !important;
}

/* width */
.dashboard-sidebar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.dashboard-sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.dashboard-sidebar::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 3px;

}

/* Handle on hover */
.dashboard-sidebar::-webkit-scrollbar-thumb:hover {
  background: #10468c62;
}


.stepper::-webkit-scrollbar {
  width: 0px; 
  height: 0px !important;
}

/* Track */
.stepper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.stepper::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 3px;

}

/* Handle on hover */
.stepper::-webkit-scrollbar-thumb:hover {
  background: #10468c62;
}

.codeSelect ul{
  color: #000 !important;
}

.NationalitiesSelect ul{
  color: #000 !important;
}

#react-aria2216473840 div {
  border-radius: 0px;
}

.h-full.bg-primary.rounded-none.transition-transform{
  border-radius: 10px;
  background-color: #10458c;
}

#react-select-3-listbox{
color: #000 !important;
}
.chrome-tab-favicon{
  border-radius: 10px;
}