@import "../_base.sass";
.therapyCard {
  height: 100px;
  width: 85%;
  position: relative;

  .topSection {
    background-color: #fff;
    .topText {
      font-size: 16px;
      color: #838383;
      font-weight: 500;
    }
  }
  .bottomSection {
    background-color: $primary-color;
  }
  .TherapyCardImg {
    position: absolute;
    color: transparent;
    right: -45px;
    bottom: 0;
    @media (max-width: 555px) {
      right: -30px;
    }
  }
}
